body {
    background: #fafafa none repeat scroll 0 0!important;
}

#cpanel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF none repeat scroll 0 0!important;
    border: 1px solid #ccc!important;
    border-radius: 0 0 5px 5px;
    padding: 0 !important;
    width: 900px !important;
}
#cpanel #border-efx {
    border: medium none !important;
    margin: 0;
    padding: 0;
}
#cpanel #border-efx #content #sub {
    width: 250px!important;
}
#cpanel #border-efx #content #main {
    width: 600px!important;
}
.cellbox {
    background: #f8f8f8 none repeat scroll 0 0;
    border: #e5e5e5 -moz-use-text-color -moz-use-text-color;
    border-radius: 0 0 3px 3px;
}
div.stats_progress_bar {
    -moz-appearance: none;
    background-color: #f8f8f8;
    border: 0 none!important;
    border-radius: 500px;
    display: block;
    height: 15px!important;
    overflow: hidden;
    width: 100%!important;
}
.spriteheading_bg {
    background: #2b3034 none repeat scroll 0 0 !important;
    border-radius: 0 0 5px 5px;
    height: 30px !important;
}
